.menu_list_header li{
   padding:40px 85px;
   font-size: 30px;
   font-weight: bold;
}

.menu_list_header_a {
color: #777777;
cursor: pointer;


}
.menu_list_header_active_a{
color: #90EE90;
}

.menu_list_header_a:hover {
  color: #90EE90;
  text-shadow: 0px 2px #90EE90;
}
.menu_list_header_a:active {
  color: #90EE90;
  text-shadow: 0px 2px #90EE90;
}
